{% extends 'base.html' %}

{% block title %}
Изменить объявление
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Изменить объявление</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" value="{{ adv.name }}" placeholder="Введите название объявления"><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание объявления"> {{ adv.description }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}